---
layout: default
---
<article class="member">

  <header class="member-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>



  

<table>
  <tr>    
    <td><img src="https://github.com/{{ page.github }}.png?size=120" alt="{{ name}}" title="{{ name }} - {{ position }} @ {{ company }}" />
    </td>
    <td></td>
  </tr>
  <tr>    
    <th>Name</th><td>{{ page.name }}</td>
  </tr>
  <tr>
    <th>Position</th><td>{{ page.position }}</td>
  </tr>
  <tr>
    <th>Company</th><td>{{ page.company }}</td>
  </tr>
  <tr>
    <th>Location</th><td>{{ page.location }}</td>
  </tr>
  <tr>
    <th>Interests</th><td>{{ page.interests }}</td>
  </tr>
</table>


</article>
